.slds-modal__container{
	width : 60% !important;
  max-width : 60% !important;
}

.slds-backdrop_open {
    opacity: 0.5;
}

.right-aligned-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%; /* Ensures the container uses full width */
}

.left-aligned-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns items to the left */
    width: 100%; /* Ensures the container uses full width */
}
.separator {
    border-bottom: 1px solid #292929;
    width: 100%;
    margin: 0;
    padding: 0;
}
.pop-out-box {
    height:100%;
    width:100%;
    padding: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);/*,
                0 6px 6px rgba(0, 0, 0, 0.25);*/
    /*margin: 50px;*/
    text-align: left;
    /*font-size: 16px;
    font-weight: bold;*/
}
.spinnerHolder {
    position: relative;
    height: 200px;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    border-radius: 0.25rem;
}